*,
*::before,
*::after{
    box-sizing: border-box;
}
/*customn properties, can be update*/

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-bg: #6b6666;
    --clr-ligth: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rbga(0,0,0,25), 
          01.125rem 01.125rem 0.25m rbga(0,0,0,.15);


}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.7rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*general styles*/

body{
background: var(--clr-bg);
color: var(--clr-dark);
margin: 0;
font-family: var(--ff-primary);
font-size: var(--fs-body);
line-height: 1.6;
}

img{
    display: block;
    max-width: 25%;
    /*margin-left: auto;*/
    margin-right: auto;
}

strong{ font-weight: var(--fw-bold);}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}




/* Buttoms */

.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}


/*Tipografy*/
h1,
h2,
h3 {
    line-height: 1.1;
    margin:0;
}
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
    
.section__title{
margin-bottom: 2.5em;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}
.section__title--intro{
    font-family: var(--fw-reg);
}
.section__title--intro strong{

    display: block;
}

.section__subtitle--intro,
.section__subtitle--about {
     background: var(--clr-accent);
     padding: 25em 1em;
     font-family: var(--ff-secondary);

}
/*Header*/

nav{display: none;}

/*Intro section*/

.intro{
    position: relative;
}

.intro__img{
    box-shadow:var(--bs);
}


.section__subtitle--intro{
    display: inline-block;
}



@media(min-width:600px){
    .intro{
        display: grid;
        width: min-content;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;


    }      
    .section__subtitle--intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 12.5em);


    }
}




/* My services section */

.my-services{
    background-color:  var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    color: var(--clr-ligth);
    /*background-blend-mode: multiply;*/
    background-size: cover;      /*done*/
    color: var(--clr-ligth);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-ligth);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media(min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left:auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.about-me{ 
    max-width: 1000px;
    margin: 0 auto;
}
.about-me__img{
    grid-row: 1 / -1;
    grid-column: 2;
    box-shadow: var(--bs);

}

@media (min-width: 600px) {
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img" 
        "text img";
        grid-column-gap: 2em; 
    }

    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);
        padding-left: 2em;
        padding-right: calc(200px + 4em);
    }
    .section__title--about, .section__subtitle--about{
        grid-column: 1;
    }

    .about-me__img {
        grid-area: img;
        grid-row: 1 / -1;
        grid-column: 2;
    }


}


